@media (min-width: 768px) and (max-width: 1024px) {
  /* css nav-bar */
  .text-nav {
    display: none;
  }
  #nav-bar a:link,
  a:visited {
    padding: 10px;
    margin-right: 1rem;
    padding-bottom: 30px;
  }
  #nav-bar {
    margin-top: 1rem;
  }
  /* css thong tin ca nhan */
  #personal-info {
    font-size: 16px;
    padding-right: 40px;
  }
  #target {
    font-size: 16px;
  }
  /* css phan chung chi */
  .container-3-box {
    flex-direction: column;
    gap: 30px;
  }
  /* css phan du an */
  .section-title,
  .container-4-content-box {
    font-size: 14px;
  }
  .container-4-content-box-row {
    padding: 10px 4px;
  }
}
